# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE settings
.vscode/
.idea/
*.iml

# macOS files
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Profiles / reports
.prof
*.out
